# Dependency directories
node_modules/
/client/node_modules/
/server/node_modules/

# Environment Variables (Protect your passwords!)
.env

# Build outputs
/client/dist/
/client/build/

# System files
.DS_Store